body{
    font-size: 18px;
  font-family: "Poppins", sans-serif;

    padding: 0;
    margin: 0;
    /* @media only screen and (max-width: 600px) {
    overflow-x:hidden;
    padding: 0;
    margin:0;

    } */
    /* overflow: hidden; */
}
